button[disabled] {
  opacity: 1 !important;
  pointer-events: none;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
  color: black;
  background-color: white;
  border-color: black; /*set the color you want here*/
}

.btn-dark {
  color: #FFB6C1;
  background-color: black;
  border-color: #FFB6C1;
}

