.navbar-brand {
    color: #FFB6C1 !important;
  }
  
  .navbar-dark .navbar-nav > li > a:hover {
      color: #4682B4;
  }
  
  .navbar-dark .navbar-nav > .open > a:focus {
      background-color: black !important;
      color:#FFB6C1;
  }
  
  .navbar-dark .navbar-nav > .open > a:hover {
      color: #4682B4;
  }
  
  .dropdown-menu {
      font-size: 1em;
      color: #FFB6C1;
  }


  .navbar-dark .navbar-nav > li > a {
    color: #FFB6C1;
  }
  
  .dropdown-item > li > a:hover {
      color: #4682B4;
  }
  
  .dropdown-menu > li > a {
    color: #FFB6C1;
  }
  
  
  .mydropnav {
      color: #FFB6C1;
  }