<tr class="row" >
    <th class="col">
        <p class>
            <a [routerLink]="['/authenticated-user/tasks-daily', singleTask.date]">
              {{ singleTask.date }}
            </a>
          </p>
    </th>
    <th class="col">
      <p *ngIf="singleTask.status==='completed'; else not_completed" 
        class="cross-out">
        {{ singleTask.task_name }}
      </p>
      <ng-template #not_completed>
        <p>
          {{ singleTask.task_name }}
        </p>
      </ng-template>
    </th>
    <th class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delAccount" 
        class="col text-left">
        <button
          class="btn btn-sm btn-outline-dark"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #delAccount class="row">
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-dark"
            (click)="hideDeletionPopup()">
            Cancel Deletion
          </button>
        </div>
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveTask()"
            >
            Confirm Removal
          </button>
        </div>
      </ng-template>
    </th>
</tr>
