/* General Link Styling */
.navbar-dark .navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
  color: #FFB6C1 !important;
}

/* Hover color for all dropdown links (including nested) */
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
  color: #4682B4 !important;
  background-color: transparent;
}

.navbar-brand {
    color: #FFB6C1 !important;
  }
  
  .navbar-dark .navbar-nav > li > a:hover {
      color: #4682B4;
  }
  
  .navbar-dark .navbar-nav > .open > a:focus {
      background-color: black !important;
      color: #FFB6C1;
  }
  
  .navbar-dark .navbar-nav > .open > a:hover {
      color: #4682B4 !important;
  }
  
  .dropdown-menu {
      font-size: 1em;
      color: #FFB6C1 !important;
  }
  
  .dropdown-item > li > a:hover {
      color: #4682B4 !important;
  }

  .navbar-dark .navbar-nav > li > a {
    color: #FFB6C1 !important;
  }
  
  .dropdown-menu > li > a {
    color: #FFB6C1 !important;
  }
  
  
  .mydropnav {
      color: #FFB6C1 !important;
  }

/* styles.css or your component's style file */
.dropdown-submenu {
    position: relative;
    color: #FFB6C1 !important;
  }
  
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    display: none;
  }
  
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > .dropdown-menu > li > a {
    color: #FFB6C1 !important;
  }

  .dropdown-submenu > .dropdown-menu > li > a:hover {
    color: #4682B4 !important;
  }
  
  /* Ensure nested dropdown items follow the same style */
.dropdown-submenu .dropdown-item {
    color: #FFB6C1 !important;
  }
  
  .dropdown-submenu .dropdown-item:hover {
    color: #4682B4 !important;
    background-color: transparent;
  }
  
  /* Optional: remove Bootstrap default active/focus background on dropdowns */
  .dropdown-menu .dropdown-item:focus,
  .dropdown-menu .dropdown-item:active {
    background-color: transparent !important;
    color: #4682B4 !important;
  }
  