<tr class="row" >
    <th class="col">
        <p>
            {{ monthlyTaskScheduler.day_of_month }}
        </p>
    </th>
    <th class="col">
      <p>
        {{ monthlyTaskScheduler.monthly_task_name }}
      </p>
    </th>
    <th class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delMonthlyTask" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-dark"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delMonthlyTask class="row">
        <div>
          <p>
            <button
              class="btn btn-sm bn-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveTask()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
</tr>
