<app-unauthenticated-header></app-unauthenticated-header>
<div class="main">
    <div class="container content">
        <div class="color-frame rounded row">
            <h1 class="text-center">
                Contact
            </h1>
            <h2 class="text-center">
                Made in Taiwan
            </h2>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<app-unauthenticated-footer></app-unauthenticated-footer>
