<tr class="row" >
    <th class="col">
      <p>
        <app-weekly-task-template-string
          [weeklyTaskId]=weeklyTaskAppliedQuarterly.weekly_task_scheduler>
        </app-weekly-task-template-string>
      </p>
    </th>
    <th class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delWeeklyTask" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-dark"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delWeeklyTask class="row">
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveWTAQ()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
</tr>
