<tr class="row" >
    <th class="col">
        <p>
          <a [routerLink]="['/authenticated-user/interval/detail', intervalTaskGroup.id]">
            {{ intervalTaskGroup.task_group_name }}
          </a>
        </p>
    </th>
    <th class="col">
      <p>
        {{ intervalTaskGroup.interval_in_days }}
      </p>
    </th>
    <th class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delITG" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-dark"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delITG class="row">
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveTask()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
</tr>
