<ng-container *ngIf="{value: intervalTaskGroupsLoaded$ | async} as context">
  <div *ngIf="!context.value">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
  </div>
</ng-container>

<div *ngIf="intervalTaskGroups$ | async as tasks" class="container content">
    <div class="mx-2 pd-1">
      <hr class="thin-br"/>
      <h3>Interval Task Groups</h3>
      <h5>{{ tasks.length }} Interval Task Group(s)</h5>
      <hr class="thin-br" />
      <h6 class="text-center small-scr">
        (Turn Horizontal to Delete)
      </h6>
    <hr class="thin-br small-scr" />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col"><h6>Task Group Name</h6></th>
              <th class="col"><h6>Interval in Days</h6></th>
              <th class="col hidden-small"><h6>Delete</h6></th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let intervalTaskGroup of tasks; trackBy: trackByFn">
              <app-interval-task-group [intervalTaskGroup]=intervalTaskGroup>
              </app-interval-task-group>
            </div>
          </tbody>
        </table>
        <hr class="thick-br"/>
      </div>
    </div>
  </div>
